.orden{
     
    div{
        width: 100%;
        height: auto;
        img{ 
            width:100% ;
            height:auto;
        }
        
        
    }
    

}
.e{
    background-color: aqua;
}
@mixin media {
    @media screen and (min-width: 480px){
        div{
            display:flex;
            justify-content: center;
            align-items: center;
         
          div{
           
            width: 50%;
          
           
            p{
                font-size: 1.5rem;
                margin: 1rem;
            }
          }
   }
    } 
}

.orden {
    @include media()
}