footer{
    background-color: gray;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        padding: 0.3rem;
        i{
            color: white;
            font-size: 1.5rem;
        padding: 0.2rem;
        }
        i:hover{
            color: darkgreen;
        }
    }
    div{
        strong{
            font-size: 0.8rem;
        }
    }
}