.sucursales{
    div{width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        div{
           
           position: relative;
           border-radius: 0.9rem;
            margin: 1rem;
        display: flex;
        flex-direction: column  ;
        background-color: white;
        width: 9rem;
        height: 9rem;
        p{
            position: absolute;
            top: 0.9rem;
        }
        a{ position: absolute;
            bottom: 0.3rem;
            
            button{
                box-shadow: 3px 3px ;
                border: 1px solid black;
                border-radius: 5px;
              padding: 0.2rem;
            }
            button:hover{
                background-color: black;
                color: white;
                box-shadow: 3px 3px #ccc;
            }
        }

        img{overflow: hidden;
            max-width: 100%;
        }
        }
    }
}

.info{
    z-index: 100;
    background-color: #aaa5;
    opacity: 0.8;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  p{
    i{
        display:flex;
    }
  }
  
}

.info:target{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   
   div{
    background-color: aqua;
    width: 10rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   p{
    position: relative;;
   }
   i{
 
    a{
        position: relative
        ;
    }
   }
}

.fa-rectangle-xmark{
  color: black;
}
   
