.sucursales{
    div{width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        div{
           position: relative;
          
            border-radius: 0.5rem;
            margin: 1rem;
        display: flex;
        flex-direction: column  ;
        background-color: white;
        width: 6rem;
        height: 6rem;
        p{
            position: absolute;
        }
        a{ position: absolute;
            bottom: 0.3rem;
            button{
                border: 1px solid black;
              padding: 0.2rem;
            }
        }
        img{
            max-width: 100%;
        }
        }
    }
}

.info{
    background-color: #aaa5;
    opacity: 0.8;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
  
}

.info:target{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   
   div{
    background-color: aqua;
    width: 10rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
}
   
