.headerdesko {
  display: none;
}

header {
  background-color: beige;
}

.headerResponsive {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  z-index: 300;
}

.inicio img {
  width: 100%;
  height: auto;
}

.tarjeta {
  display: flex;
  text-align: center;
  justify-content: center;
}
.tarjeta article {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}
.tarjeta article h2 {
  font-size: 2rem;
}
.tarjeta div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 20rem;
  background-color: white;
  border-radius: 50%;
  margin: 1rem 0;
  text-align: center;
}
.tarjeta div i {
  padding: 2rem;
  font-size: 3.5rem;
}
.tarjeta div p {
  font-size: 2rem;
}

.orden div {
  width: 100%;
  height: auto;
}
.orden div img {
  width: 100%;
  height: auto;
}
.orden p {
  margin: 0.3rem;
}

@media screen and (min-width: 480px) {
  .orden div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .orden div div {
    width: 50%;
    height: auto;
  }
  .orden div div p {
    margin: 1rem;
  }
}

.formulario div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario div input {
  border-radius: 1rem;
  box-shadow: 1px 2px gray;
  width: 70%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.formulario div textarea {
  border-radius: 1rem;
  box-shadow: 1px 2px gray;
  width: 70%;
}

.height {
  /*min-height: 100vh;*/
  scroll-margin-top: 4rem;
}

.objetivos div {
  width: 100vw;
}
.objetivos div img {
  width: 100%;
  height: auto;
}
.objetivos div p {
  margin: 0.3rem;
}

@media screen and (min-width: 480px) {
  .objetivos div {
    display: flex;
  }
  .objetivos div img {
    width: 100%;
  }
}

.sucursales div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sucursales div div {
  position: relative;
  border-radius: 0.9rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 6rem;
  height: 9rem;
}
.sucursales div div p {
  position: absolute;
  top: 0.9rem;
}
.sucursales div div a {
  position: absolute;
  bottom: 0.3rem;
}
.sucursales div div a button {
  box-shadow: 3px 3px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
}
.sucursales div div a button:hover {
  background-color: black;
  color: white;
  box-shadow: 3px 3px #ccc;
}
.sucursales div div img {
  overflow: hidden;
  max-width: 100%;
}

.info {
  z-index: 100;
  background-color: rgba(170, 170, 170, 0.3333333333);
  opacity: 0.8;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.info p i {
  display: flex;
}

.info:target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info:target div {
  background-color: aqua;
  width: 10rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info:target p {
  position: relative;
}
.info:target i a {
  position: relative;
}

.fa-rectangle-xmark {
  color: black;
}

footer {
  background-color: gray;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div {
  padding: 0.3rem;
}
footer div i {
  color: white;
  font-size: 1.5rem;
  padding: 0.2rem;
}
footer div i:hover {
  color: darkgreen;
}
footer div strong {
  font-size: 0.8rem;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 0 0.4rem;
  background-color: #B4FF9F;
}

/*# sourceMappingURL=style.css.map */
